:root{
    --main-text-color:#555555;
    --dark-bg-text-color:#9DA4BD;
    --dark-bg-title-color:#FFFFFF;
    --title-color:#303030;
    --accent-color:#FF6C00;
    --dark-bg-color:#191C26;
    --second-bg-color:#F7F7F7;
    --titile-font:'Raleway';
    --grid-items:3;
    
}
/* raleway-regular - cyrillic */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/raleway-v19-cyrillic-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/raleway-v19-cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/raleway-v19-cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/raleway-v19-cyrillic-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/raleway-v19-cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/raleway-v19-cyrillic-regular.svg#Raleway') format('svg'); /* Legacy iOS */
}
/* raleway-700 - cyrillic */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/raleway-v19-cyrillic-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/raleway-v19-cyrillic-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/raleway-v19-cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/raleway-v19-cyrillic-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/raleway-v19-cyrillic-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/raleway-v19-cyrillic-700.svg#Raleway') format('svg'); /* Legacy iOS */
}

html {
	box-sizing: border-box;
}
*,
*::after,
*::before {
	box-sizing: inherit;
}

a{
  display: block;
  text-decoration: none;
  color: inherit;
}

body{font-family: Open Sans, sans-serif;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  background-color: #E5E5E5;}

address{font-style: normal;}

img{
  display: block;
  width: 100%;
  height: auto; 

}
 h1,h2,h3,h4,p{
   margin: 0;
   padding: 0;
 }

.section{
  padding-top: 130px;
  padding-bottom: 130px;
  width: 1280px;
  margin-left: auto;
  margin-right: auto;
  background-color:var(--dark-bg-title-color);
}
.container{
  width: 1280px;
  padding-left: 55px;
  padding-right: 55px;
  margin-left: auto;
  margin-right: auto;
}

.link{text-decoration: none;
color: inherit;}
.link:focus,.link:hover{color: var(--accent-color);}

.list{
  list-style: none;
  margin: 0;
  padding: 0;
}

/* grids */
.grid-container{
  display: flex;
  margin-left: -30px;
  margin-top: -30px;
}
.grid-item{
  flex-basis: calc((100% - var(--grid-items) * 30px) / var(--grid-items));
  margin-left: 30px;
  margin-top: 30px;
}



.line::before{
  content: "";
  display: inline-block;
  width: 60px;
  height: 1px;
  background-color: currentColor;
  margin-right: 20px;
}

/* top */

.box-top{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 1280px;

}

.box-social{
  width: 155px;
  height: 680px;
  background-color: var(--dark-bg-title-color);
  position: relative;
  
}

.box-social .social-list{
transform: rotate(270deg);
position: absolute;
transform-origin: 0 0;
bottom: 40px;
left: 82px;

}

.header-hero{
  width: 1125px;
  background-image:linear-gradient(to right,rgba(25, 28, 38, 0.2),rgba(25, 28, 38, 0.2)),
  url(../images/sl/sl3.jpg);
}

/* header */

.logo{
  position: absolute;
  display: block;
  left: -100px;
}

.menu{
  margin-left: 40px;
  display: inline-flex;
}

.menu-item:not(:last-child){
  margin-right: 40px;
}

.header .container{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.navigation{
  position: relative;
  display: flex;
  align-items: center;
  margin-right: auto;
}

.header .logo{
  margin-right: 71px;
}

.nav-contacts{
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-content{
  display: flex;
  align-items: center;
}

.button{
  width: 160px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  text-align: center;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: var(--title-color);
  border: 1px solid var(--accent-color);
  border-radius: 25px;
  padding-top: 11px;
  padding-bottom: 11px;}

.button:focus,
.button:hover{
  background-color: var(--accent-color);
}

.header .button{margin-left: 40px;}

.social-list{
  display: flex;
  font-weight: 600;
  font-size: 11px;
  align-items: center;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--title-color);
}

.socials-item:first-child{
  margin-right: 40px;
}


.title{font-family: var(--titile-font),sans-serif;
  font-weight: 700;
  letter-spacing: 0.05em;}

.page-title{
  font-size: 72px;
  line-height: 1.18;
}

.section-title{
  font-size: 42px;
  line-height: 1.17;
  color: var(--title-color);}

.title-label{
  display: inline-flex;
  align-items: center;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  color:var(--title-color);
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.copyright{
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--dark-bg-text-color);
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
 
.header{
  padding-top: 40px;
  padding-right: 55px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--dark-bg-title-color);}

/* Hero */

.hero,.header{
  width: 1125px;
  margin-left: auto;
  margin-right: auto;
  
}

.hero-container{
  height: 600px;
  padding-top: 178px;
  padding-left: 100px;
}

.hero-content .page-title{
  margin-top: 20px;
  margin-bottom: 20px;
}

.hero-content{
  width: calc(100%/12*5);
}

/* about */

.flexbox{
  display: flex;
  justify-content: space-between;
}

.flexbox-item:nth-child(1){
  flex-basis: 570px;
}

.flexbox-item:nth-child(2){
  flex-basis: 500px;
}

.about .grid-item{
  --grid-items:2;
  
}

.grid-container-about{
  display: flex;
}
.grid-item-about{
  flex-basis: calc((100% - 30px) / 2);
}
.grid-item-about:nth-child(1){
  margin-right: 30px;
}

.text-in-about{
  margin-bottom: 20px;
}
.text-in-about-last{
  margin-top: 40px;
  background-color:var(--dark-bg-title-color) ;
}
.text-about{
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
}

/* price */

.price{
  background-color: #111319;
  background-image: url(../images/bg2.png);
}
.price-list-container{
  display: flex;
}

.price-list{
  flex-basis: 50%;
  padding: 30px 40px;
}

.price-list:nth-child(1){
  background-image: linear-gradient(180deg, #171A24 0%, rgba(23, 26, 36, 0.2) 100%);
}

.price-list:nth-child(2){
  background-image: linear-gradient(180deg, #090B13 0%, rgba(9, 11, 19, 0.2) 100%);
}

.price .button{
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.price-list-item{
  display: flex;
  justify-content: space-between;
}

.price-list-item:not(:last-child){
  margin-bottom: 20px;
}

.price h2{
  margin-top: 20px;
  margin-bottom: 44px;
}

/* benefits */

.benefits.section{
  padding-left: 0;
  padding-right: 0;
  display: flex;
  position: relative;
  
}

.benefits>div, .benefits>ul{
  flex-basis: 50%;
}

.benefits>div{
  padding-left: 15px;
}
.benefits h2{
  display: block;
  width: 420px;
  min-height: 98px;
  margin-top: 20px;
}

.benefits-text{
  display: block;
  width: 500px;
  min-height: 90px;
  margin-top: 20px;
}


.benefits-item{
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  color: var(--title-color);
  background-color: var(--second-bg-color);
  width: 170px;
  height: 133px;
  text-align: center;
  padding: 20px 24px;
  position: absolute;
}

.benefits-number{
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  letter-spacing: 0.05em;
  margin-bottom: 6px;
  display: inline-block;
  position: relative;
}

/* after не получается спозиционировать */
/* .benefits-number::after{
  content: "+";
  font-weight: 600;
  font-size: 16px;
  line-height: 1.375;
  color: var(--accent-color);
  margin-left: 2px;
} */

.benefits-number-icon{
  display: inline-block;
  position: absolute;
  top: 7px;
  right: -15px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.375;
  color: var(--accent-color);
}


/* team */

.team{
  background-color:var(--second-bg-color) ;
}
.team .title-label{
  margin-bottom: 20px;
}

.team .section-title{
  margin-bottom: 44px;
}

.team-member{
  font-weight: 400;
  font-size: 18px;
  line-height: 1.39;
  color: var(--title-color);
}

.team-member-position{
  font-size: 14px;
  line-height: 1.36;
  color: var(--accent-color);
}
.team-text{
  padding-top: 30px;
  text-align: center;
}
.team-member{
  margin-bottom: 8px;
}
.team-member-position{
  margin-bottom: 30px;
}
.social-link-container{
  display: inline-flex;
}
.social-item:not(:last-child){
  margin-right: 10px;
}


.social-link{
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  fill: var(--title-color);
  background-color: var(--dark-bg-title-color);
  border-radius: 50%;
  }

.social-link:hover,.social-link:focus{
  fill: var(--accent-color);
}

/* galery */

.galery-list{
  --grid-items:4;
}

.gallery .title-label{
  margin-bottom: 44px;
}

/* contacts */

.contacts-container{
  width: 1280px;
  display: flex;
  height: 644px;
  margin-left: auto;
  margin-right: auto;
  background-color: #191C26;
}

.registration{
  flex-basis: 655px;
  height: 644px;
  padding-left: 56px;
  padding-top: 130px;
}

.address-section{
  flex-basis: 625px;
  height: 644px;
  padding-left: 100px;
  padding-top: 130px;
  background-image: url(../images/Bg3.png);


}
.address-section h2{
  margin-bottom: 40px;
}

.address-list li:not(:nth-child(1)){
  margin-top: 20px;
}

.address-section address{
  margin-bottom: 20px;
}

.address-section h3{
  margin-bottom: 20px;
}

.address-icon{
  width: 24px;
  height: 24px;
  margin-right: 16px;
  stroke: currentColor;
  fill:none;
}

.address-list .link{
  display: flex;
  align-items: center;
}

/* footer */

.footer{
  display: flex;
  align-items: center;
  width: 1280px;
  margin-right: auto;
  margin-left: auto;
  padding: 56px 55px;
  justify-content: space-between;
  background-color: var(--dark-bg-title-color);
  
}




.dark-bg{
  color: var(--dark-bg-text-color);}

.dark-bg .title,.dark-bg .button{color: var(--dark-bg-title-color);}

.dark-bg .title-label{color: rgba(157, 164, 189, 0.6);}
  /* *{outline: solid 1px green}   */