:root{
    --main-text-color:#555555;
    --second-text-color:#9DA4BD;
    --main-title-color:#FFFFFF;
    --second-title-color:#303030;
    --accent-color:#FF6C00;

}
body{font-family: Open Sans;}
/* header */
.nav-link,.nav-tel,.nav-register{
font-weight: 600;
font-size: 12px;
line-height: 1.33;
letter-spacing: 0.1em;
color: var(--main-title-color);}
.nav-link:hover,.nav-link:focus,.nav-tel:focus,.nav-register:focus,.nav-tel:hover,.nav-register:hover{color: var(--accent-color);}
.nav-tel,.nav-register{text-transform: uppercase;}