:root{
    --main-text-color:#555555;
    --dark-bg-text-color:#9DA4BD;
    --dark-bg-title-color:#FFFFFF;
    --title-color:#303030;
    --accent-color:#FF6C00;
    --dark-bg-color:#191C26;
    --second-bg-color:#F7F7F7;
    --titile-font:'Raleway';
    --grid-items:3;
    
}
/* raleway-regular - cyrillic */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/raleway-v19-cyrillic-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/raleway-v19-cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/raleway-v19-cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/raleway-v19-cyrillic-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/raleway-v19-cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/raleway-v19-cyrillic-regular.svg#Raleway') format('svg'); /* Legacy iOS */
}
/* raleway-700 - cyrillic */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/raleway-v19-cyrillic-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/raleway-v19-cyrillic-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/raleway-v19-cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/raleway-v19-cyrillic-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/raleway-v19-cyrillic-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/raleway-v19-cyrillic-700.svg#Raleway') format('svg'); /* Legacy iOS */
}

html {
	box-sizing: border-box;
}
*,
*::after,
*::before {
	box-sizing: inherit;
}

*{
  /* outline: solid 1px violet; */
}

body{font-family: Open Sans, sans-serif;
font-size: 18px;
line-height: 1.67;
letter-spacing: 0.02em;
color: var(--main-text-color);}

address{font-style: normal;}

img{
  display: block;
}
 h1,h2,h3,h4,p{
   margin: 0;
   padding: 0;
 }
.container{
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.link{text-decoration: none;
color: inherit;}
.link:focus,.link:hover{color: var(--accent-color);}

.list{
  list-style: none;
  margin: 0;
  padding: 0;
}

/* grids */

.grid-container{
  display: flex;
  margin-left: -30px;
  margin-top: -30px;
}

.grid-item{
  flex-basis: calc((100% - var(--grid-items) * 30px) / var(--grid-items));
  margin-left: 30px;
  margin-top: 30px;
}

.logo{display: block;}

/* header */
.header{
  padding-bottom: 32px;
  padding-top: 32px;
}

.menu{display: inline-flex;}

.menu-item:not(:last-child){
  margin-right: 40px;
}

.header .container{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.navigation{
  display: flex;
  align-items: center;
  margin-right: auto;
}

.header .logo{
  margin-right: 71px;
}

.button{
  min-width: 100px;
font-weight: 600;
font-size: 12px;
line-height: 1.33;
text-align: center;
letter-spacing: 0.09em;
text-transform: uppercase;
color: var(--title-color);
border: 1px solid var(--accent-color);
border-radius: 25px;
padding: 12px 20px;}

.button:focus,
.button:hover{
  background-color: var(--accent-color);
}

.header .button{margin-left: 40px;}

.socials-list{
font-weight: 600;
font-size: 11px;
line-height: 1.36;
letter-spacing: 0.2em;
color: var(--title-color);}


.title{font-family: var(--titile-font),sans-serif;
font-weight: 700;
 letter-spacing: 0.05em;}

.page-title{
font-size: 72px;
line-height: 1.18;
}

.section-title{
font-size: 42px;
line-height: 1.17;
color: var(--title-color);}

.title-label{
font-weight: 600;
font-size: 11px;
line-height: 1.36;
color:var(--title-color);
letter-spacing: 0.1em;
text-transform: uppercase;
}

.copyright{
font-weight: 600;
font-size: 11px;
line-height: 1.36;
letter-spacing: 0.2em;
color: var(--dark-bg-text-color);
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
 
.header{
font-weight: 600;
font-size: 12px;
line-height: 1.33;
letter-spacing: 0.1em;
color: var(--dark-bg-title-color);}

/* Hero */

.hero{
  min-height: 100vh;
}

.hero-content{
  width: calc(100%/12*5);
}
.benefits-item{
font-weight: 600;
font-size: 11px;
line-height: 1.36;
text-align: center;
color: var(--title-color);
background-color: var(--second-bg-color);
}

.benefits-number{
font-weight: 700;
font-size: 42px;
line-height: 1.36;
letter-spacing: 0.05em;
}
/* team */

.team{
  padding-top: 130px;
  padding-bottom: 130px;
  background-color:var(--second-bg-color) ;
}
.team .title-label{
  margin-bottom: 20px;
}

.team .section-title{
  margin-bottom: 44px;
}

.team-member{
font-weight: 400;
font-size: 18px;
line-height: 1.39;
color: var(--title-color);
}

.team-member-position{
font-size: 14px;
line-height: 1.36;
color: var(--accent-color);
}
.team-text{
  padding-top: 30px;
  text-align: center;
}
.team-member{
  margin-bottom: 8px;
}
.team-member-position{
  margin-bottom: 30px;
}
.social-link-container{
  display: inline-flex;
}
.social-item:not(:last-child){
  margin-right: 10px;
}


.social-link{
  display: flex;
  display: block;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  fill: var(--title-color);
  


  
}







.dark-bg{background-color: var(--dark-bg-color);
color: var(--dark-bg-text-color);}

.dark-bg .title,.dark-bg .button{color: var(--dark-bg-title-color);}

.dark-bg .title-label{color: rgba(157, 164, 189, 0.6);}
